<div 
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-in duration-150"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="bg-white fixed right-0 top-100 z-40 w-full h-[calc(100%_-_100px)]">
  <div class="h-full flex flex-col justify-between">
    <div>
      {{ partial:menu/main/wrapper }}
      {{ partial:menu/meta/wrapper }}
      {{ partial:menu/main/special }}
    </div>
    <div class="flex justify-between items-center p-20">
      {{ partial:menu/language/wrapper }}
      {{ partial:components/misc/social-media-channels }}
    </div>
  </div>
</div>