<section>
  {{ if text }}
    {{ text }}
  {{ /if }}

  {{ if team_members }}
    <div class="grid grid-cols-12 lg:grid-cols-10 gap-x-20 lg:gap-x-45 gap-y-30 lg:gap-y-60">
      {{ team_members }}
        <div class="col-span-6 sm:col-span-4 lg:col-span-3">
          {{ if email }}
            <a href="mailto:{{ email }}" 
              class="!no-underline group" 
              title="E-Mail {{ firstname }} {{ name }}">
              {{ partial:components/media/image/portrait }}
              <h3 class="text-xs lg:text-base mt-10 xl:mt-15 group-hover:text-turquoise transition-colors text-center">
                {{ firstname }} {{ name }}
              </h3>
              {{ if position || company }}
                <div class="text-xxs xl:text-xs text-center w-full block group-hover:text-turquoise transition-colors">
                  {{ if position }}
                    <div>{{ position }}</div>
                  {{ /if }}
                  {{ if company }}
                    <div>{{ company }}</div>
                  {{ /if }}
                </div>
              {{ /if }}
            </a>
          {{ /if }}
        </div>
      {{ /team_members}}
    </div>
  {{ /if }}
</section>