{{ if type == 'fullscreen_image' }}
  {{ partial:components/media/image/fullscreen }}
{{ /if }}

<section class="col-span-full md:col-span-10">

  {{ if type == 'team' }}
    {{ partial:components/team/wrapper }}
  {{ /if }}

  {{ if type == 'teasers' }}
    {{ partial:components/teasers/wrapper }}
  {{ /if }}

  {{ if type == 'image' }}
    {{ partial:components/media/image/fullscreen }}
  {{ /if }}

  {{ if type == 'image_gallery' }}
    {{ partial:components/media/image/gallery }}
  {{ /if }}


  {{ if type == 'splash' }}
    {{ partial:components/misc/splash }}
  {{ /if }}

  {{ if type == 'newsletter_form' }}
    {{ partial:forms/newsletter }}
  {{ /if }}

  {{ if type == 'editor' }}

    {{ content  }}

      {{ if type == 'text'}}
        {{ text }}
      {{ /if }}

      {{ if type == 'newsletter_form' }}
        {{ partial:forms/newsletter }}
      {{ /if }}

      {{ if type == 'press_release'}}
        {{ partial:components/downloads/press_release }}
      {{ /if }}

      {{ if type == 'logo'}}
        {{ partial:components/downloads/logo }}
      {{ /if }}

      {{ if type == 'image_downloads' }}
        {{ partial:components/downloads/images }}
      {{ /if }}

    {{ /content  }}
  {{ /if }}
  
</section>
