{{ if type == 'fullscreen_image' }}
  {{ partial:components/media/image/fullscreen }}
{{ /if }}

<section class="col-span-full xl:col-span-10">

  {{ if type == 'team' }}
    {{ partial:components/team/wrapper }}
  {{ /if }}

  {{ if type == 'teasers' }}
    {{ partial:components/teasers/wrapper }}
  {{ /if }}

  {{ if type == 'image' }}
    {{ partial:components/media/image/fullscreen }}
  {{ /if }}

  {{ if type == 'editor' }}
    {{ content  }}

    {{ if type == 'text'}}
      {{ text }}
    {{ /if }}

    {{ if type == 'press_release'}}
      [press_release]
    {{ /if }}

    {{ /content  }}
  {{ /if }}
  
</section>
