<div class="bg-fog w-full relative !mt-20 lg:!mt-40 py-20 lg:py-40">
  <span class="bg-black text-white uppercase font-bold text-xxs leading-none tracking-[.2rem] absolute left-15 top-1/2 h-auto py-10 px-10 flex justify-center items-center -rotate-90 translate-x-[-50%] translate-y-[-50%]">
    {{ "Dienstleistungen" | trans }}
  </span>
  {{ partial:layout/content }}
    <div class="grid grid-cols-12 gap-x-15 gap-y-25 ml-30 xl:ml-0">
      {{ teaser }}
        <a 
          href="{{ url }}"
          class="col-span-12 md:col-span-6 border-t border-black bg-white p-15 lg:p-20 lg:pt-15 leading-[1.25] [&>h3]:font-regular[&>h3]:text-base [&>h3]:lg:text-lg [&>h3]:leading-[1.25] [&>h3]:mb-5 hyphens-auto no-underline hover:bg-lime transition-all"
          title="{{ title }}">
          {{ text }}
        </a>
      {{ /teaser }}
    </div>
  {{ /partial:layout/content }}
</div>
