{{ partial:layout/content-fullscreen badge="Dienstleistungen" badgeClass="!hidden md:!flex" }}
  <div class="grid grid-cols-12 gap-x-15 gap-y-25 md:ml-30 xl:-ml-20">
    {{ teaser }}
      <a 
        href="{{ url }}"
        class="col-span-12 md:col-span-6 border-t border-black bg-white p-15 lg:p-20 lg:pt-15 leading-[1.25] [&>h3]:font-regular[&>h3]:text-base [&>h3]:lg:text-lg [&>h3]:leading-[1.25] [&>h3]:mb-5 hyphens-auto no-underline hover:bg-lime transition-all"
        title="{{ title }}">
        {{ text }}
      </a>
    {{ /teaser }}
  </div>
{{ /partial:layout/content-fullscreen }}