<section>
  <h1>{{ title }}</h1>
  {{ collection from="events" as="events" sort="event_date:asc" }}
    {{ if events }}
      {{ events }}
        {{ if event_date | modify_date("+1 day") | is_future }}
          <div class="mb-20 xl:mb-30">
           {{ event_date iso_format="Do MMMM YYYY" }}:  <strong>{{ title }}</strong>
            {{ if program_file || has_form }}
              <div class="flex gap-x-10">
              {{ if program_file }}
                <a 
                  href="{{ program_file }}" 
                  title="{{ "Download Programmheft" | trans }}"
                  target="_blank">
                  {{ "Programmheft" | trans }}
                </a>
              {{ endif }}
              {{ if has_form }}
                <a href="{{ url }}">
                  {{ "Anmeldeformular" | trans }}
                </a>
              {{ endif }}
              </div>
            {{ endif }}
          </div>
        {{ /if }}
      {{ /events}}
    {{ /if }}
  {{ /collection }}
</section>