{{ partial:layout/content sectionClass="!col-span-full" }}
  {{ partial:components/misc/button_back }}
  <h1 class="mb-5 lg:mb-10">{{ title }}</h1>
  <span>{{ event_date iso_format="Do MMMM YYYY" }}</span>
  {{ if program_file }}
    <div class="mt-10 lg:mt-20">
      <a href="{{ program_file:url }}" target="_blank" class="underline underline-offset-4 hover:no-underline">
        {{ 'Programm' | trans }}
      </a>
    </div>
  {{ /if }}
  {{ if has_form }}
    <div id="event-form" class="mt-25 lg:mt-50">
      {{ if registration_deadline | modify_date("+1 day") | is_future }}
        <h2>{{ "Anmeldung" | trans }}</h2>
        <p>
          {{ "Anmeldung ist möglich bis" | trans }} <strong>{{ registration_deadline iso_format="Do MMMM YYYY" }}</strong>
        </p>
        <event-registration :event-id="'{{ origin_id ?? id }}'"></event-registration>
      {{ else }}
        <p>{{ "Anmeldung ist nicht mehr möglich..." | trans }}</p>
      {{ endif }}
    </div>
  {{ endif }}
{{ /partial:layout/content }}