<div class="grid grid-cols-12 lg:grid-cols-10 gap-20 lg:gap-30">
  {{ images }}
    <div class="col-span-full sm:col-span-6 lg:col-span-5">
      {{ if hires_image }}
        <a href="{{ hires_image }}" 
          target="_blank" 
          download 
          title="{{ title }}"
          class="group no-underline">
          {{ partial:components/media/image/download class="w-full h-auto"  }}
          <div class="flex justify-end items-start">
            {{ if caption }}
              <div class="text-sm no-underline pt-5 w-auto">
                {{ caption }}
              </div>
            {{ /if }}
            <span class="w-24 flex mt-10 justify-end">
              {{ partial:icons/download class="w-24 h-auto group-hover:text-lime transition-colors" }}
            </span>
          </div>
        </a>
      {{ else }}
        {{ partial:components/media/image/download }}
      {{ /if }}
    </div>
  {{ /images }}
</div>
