{{ partial:layout/content }}
  <h1>{{ title }}</h1>
  {{ if lead }}
    <p class="max-w-3xl lg:max-w-none">
      {{ if location && date }}{{ location }}, {{ date iso_format="Do MMMM YYYY" }} – {{ elseif location && !date }} {{ location }} – {{elseif !location && date }}{{ date iso_format="Do MMMM YYYY"}} – {{ /if }}
      <strong>{{ lead }}</strong>
    </p>
  {{ /if }}

  {{ content }}

    {{ if type == 'text' }}
      <div class="max-w-3xl lg:max-w-none mb-15 xl:mb-30">
        {{ text }}
      </div>
    {{ /if }}

    {{ if type == 'image' ||  type == 'images' || type == 'image_slideshow' || type == 'video' }}
      <div class="mb-30 xl:mb-60 last-of-type:mb-0">
        {{ if type == 'image' }}
          {{ partial:components/media/image/fullscreen }}
        {{ /if }}

        {{ if type == 'images' }}
          {{ partial:components/media/images }}
        {{ /if }}

        {{ if type == 'image_slideshow' }}
          {{ partial:components/media/slideshow }}
        {{ /if }}

        {{ if type == 'video' }}
          {{ partial:components/media/video}}
        {{ /if }}
      </div>
    {{ /if }}
  {{ /content }}
{{ /partial:layout/content }}