{{ if intro }}
  {{ partial:layout/content }}
    <div class="text-base xl:text-lg hyphens-auto">
      {{ intro }}
    </div>
  {{ /partial:layout/content }}
{{ /if }}
<div 
  class="bg-fog w-full relative !mt-20 xl:!mt-40 py-15 xl:py-30"
  x-data="{ active: null }">
  {{ partial:layout/content }}
    <div class="grid grid-cols-12 gap-x-15 gap-y-25 mx-auto">
      {{ collection from="courses" }}
        <div
          x-on:click="active === '{{ id }}' ? active = null : active = '{{ id }}'"
          class="col-span-12 md:col-span-6 hyphens-auto no-underline group cursor-pointer"
          :class="{ 'md:!col-span-12': active === '{{ id }}' }"
          title="{{ title }}">
          <span class="flex justify-between items-center gap-x-10">
            <hr class="!bg-black w-full h-2" />
            <span 
              class="flex-shrink-0"
              :class="{ 'rotate-180': active === '{{ id }}' }">
              {{ partial:icons/chevron-down class="w-20 xl:w-28 h-auto" }}
            </span>
          </span>
          <span 
            class="bg-white block leading-[1.45] mt-10 p-15 xl:p-20 xl:pt-15 group-hover:bg-turquoise transition-all"
            :class="{ '!bg-turquoise': active === '{{ id }}' }">
            <h2 class="text-base xl:text-lg leading-[1.25] mb-5 xl:mb-10">
              {{ title }}
            </h2>
            Datum: {{ course_date iso_format="Do MMMM YYYY" }}
            {{ if google_maps_url && location }}
            <br>Ort: <a href="{{ google_maps_url }}" target="_blank" class="underline underline-offset-4">{{ location }}</a>
            {{ /if }}
            {{ if !google_maps_url && location }}
              <br>Ort: {{ location }}
            {{ /if }}
            {{ if target_group }}
              <br>Zielgruppe: {{ target_group }}
            {{ /if }}
            {{ if registration_deadline | modify_date("+1 day") | is_future }}
              <br>Anmeldung: {{ registration_deadline iso_format="Do MMMM YYYY" }}
            {{ /if }}
            <div 
              class="mt-15 xl:mt-25 hidden text-xs xl:text-sm"
              :class="{ '!block': active === '{{ id }}' }">
              {{ description }}
            </div>
            <div 
              class="hidden text-xs xl:text-sm mt-15 xl:mt-25"
              :class="{ '!block': active === '{{ id }}' }">
              {{ if fee_members }}
               <div>
                Teilnahmegebühr für Mitglieder von Baustoff Kreislauf Schweiz: <strong>CHF {{ fee_members }}</strong>
              </div>
              {{ /if }}
              {{ if fee_non_members }}
                <div>
                  Teilnahmegebühr für Nicht-Mitglieder: <strong>CHF {{ fee_non_members }}</strong>
                </div>
              {{ /if }}
            </div>
          </span>
        </div>
      {{ /collection }}
    </div>
  {{ /partial:layout/content }}
</div>