<footer class="bg-turquoise font-medium text-xs leading-[1.4] w-full py-20">
  {{ partial:layout/inner }}
    <div class="grid grid-cols-12 gap-x-15 lg:gap-x-20">
      <div class="col-span-full md:col-span-8">

        {{ if contact_information:address }}
          <address class="block not-italic mb-20">
            {{ contact_information:address | nl2br }}
          </address>
        {{ /if }}

        {{ if contact_information:email }}
          <a 
            href="mailto:{{ contact_information:email }}" 
            title="{{ "E-Mail Adresse" | trans }}"
            class="block underline underline-offset-2 hover:no-underline decoration-1">
            {{ contact_information:email }}
          </a>
        {{ /if }}

        {{ if contact_information:phone }}
          <a 
            href="tel:{{ contact_information:phone }}" 
            title="{{ "Telefonnummer" | trans }}"
            class="block underline underline-offset-2 hover:no-underline decoration-1">
            T {{ contact_information:phone }}
          </a>
        {{ /if }}

      </div>
      <div class="col-span-full md:col-span-4 md:flex md:flex-col md:items-end">
        {{ partial:search/quick }}
        {{ partial:menu/footer/wrapper class="md:flex md:justify-end mt-20 md:mt-0" }}
      </div>
    </div>
  {{ /partial:layout/inner }}
</footer>
{{ vite src="resources/js/app.js" }}
<script>
var _paq = window._paq = window._paq || []; 
_paq.push(['trackPageView']); 
_paq.push(['enableLinkTracking']); 
(function() { 
  var u="https://fhanalytics.ch/"; 
  _paq.push(['setTrackerUrl', u+'matomo.php']); 
  _paq.push(['setSiteId', '11']); 
  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
  g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s); 
})();
</script>