<header class="bg-white sticky top-0 z-20 w-full">
  {{ partial:layout/inner class="relative" }}
    <a 
      href="{{ site:url }}" 
      title="Home"
      :class="{ 'is-active': menu === true }"
      class="group">
      {{ partial:icons/logo class="block w-auto" }}
    </a>
    <a 
      href="javascript:;" 
      x-on:click="menu = ! menu" 
      title="{{ "Menü anzeigen" | trans }}"
      :class="{ 'is-active': menu === true }"
      class="group fixed right-16 top-16 z-50 flex justify-end md:hidden">
      <span x-show="menu === false">
        {{ partial:icons/burger class="w-24 h-auto" }}
      </span>
      <span x-cloak x-show="menu === true">
        {{ partial:icons/cross class="w-20 h-auto text-black" }}
      </span>
    </a>
    {{ partial:menu/wrapper }}
  {{ /partial:layout/inner }}
</header>