{{ nocache }} 
<iframe data-w-type="embedded" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://svz1k.mjt.lu/wgt/svz1k/xn0n/form?c=bec68b16" width="100%" style="height: 0;"></iframe>
<script type="text/javascript" src="https://app.mailjet.com/pas-nc-embedded-v1.js"></script>

  {{# {{ form:newsletter class="space-y-15 lg:space-y-30 max-w-2xl mb-30" }}

    {{ if errors }}
      {{ partial:forms/elements/errors }}
    {{ /if }}

    {{ if success }}
      {{ partial:forms/elements/success }}
        {{ "Vielen Dank für Ihre Anmeldung. Sie erhalten in den nächsten Minuten eine E-Mail, um Ihre E-Mail-Adresse bestätigen zu können." | trans }}
      {{ /partial:forms/elements/success }}
    {{ /if }}

    <input type="text" name="webs1te" class="hidden" />
    <div class="space-y-15 lg:space-y-20 max-w-lg">
      {{ fields }}
        {{ partial:forms/elements/field }}
      {{ /fields }}
    </div>
    {{ partial:forms/elements/button label="Anmelden" }}

  {{ /form:newsletter }} #}}

{{ /nocache }}
