{{ form:newsletter class="mb-30" }}

  {{ if errors }}
    {{ partial:forms/elements/errors }}
  {{ /if }}

  {{ if success }}
    {{ partial:forms/elements/success }}
      {{ "Vielen Dank für Ihre Anmeldung. Sie erhalten in den nächsten Minuten eine E-Mail, um Ihre E-Mail-Adresse bestätigen zu können." | trans }}
    {{ /partial:forms/elements/success }}
  {{ /if }}

  <input type="text" name="webs1te" class="hidden" />
  <div class="space-y-15 lg:space-y-20 max-w-lg">
    {{ fields }}
      {{ partial:forms/elements/field }}
    {{ /fields }}
  </div>
  {{ partial:forms/elements/button label="Anmelden" }}

{{ /form:newsletter }}