<div class="bg-cloud col-span-12 sm:col-span-6 lg:col-span-4 p-15 pb-20 xl:p-25 xl:!pb-48 relative">
  <div class="aspect-[3/4] flex flex-col justify-center">
  {{ if preview_image }}
    {{ partial:components/media/image/publication :image="preview_image" }}
  {{ /if }}
  </div>
  <div class="text-xs lg:text-sm xl:text-base leading-[1.4] xl:leading-[1.3] pt-10">
    <h3 class="text-xs lg:text-base font-bold hyphens-auto max-w-[260px] lg:max-w-[300px]">
      {{ title }}
    </h3>
    {{ date iso_format="DD.MM.YYYY"}}
    <div class="max-w-[260px] lg:max-w-[280px]">
      {{ if description }}<div>{{ description }}</div>{{ /if }}
      {{ if copyright }}<div>&copy; {{ copyright }}</div>{{ /if }}
      {{ if cost }}<div>{{ cost }}</div>{{ /if }}
    </div>
  </div>
  <a 
    href="javascript:;"
    x-on:click="active === '{{ id }}' ? active = null : active = '{{ id }}';" 
    class="absolute bottom-5 right-5 p-5 xl:bottom-10 xl:right-10 bg-lime aspect-square rounded-full w-32 xl:w-44 inline-flex items-center justify-center group">
    <span 
      :class="{ '-rotate-180': active === '{{ id }}' }">
      {{ partial:icons/chevron-down-publications class="w-20 xl:w-30" }}
    </span>
  </a>
  <div 
    x-cloak
    x-show="active === '{{ id }}'"
    class="absolute bottom-0 left-0 z-20 w-full translate-y-full {{ if files }}bg-lime py-5 xl:py-10{{ /if }} transition-all font-bold flex flex-col gap-5">
    {{ if files }}
      {{ files }}
        <div class="px-10 xl:px-25">
          {{ if description }}
            <div>
              {{ description }}
            </div>
          {{ /if }}
          <a 
            href="{{ file:url }}" 
            class="flex items-center gap-5 text-xs lg:text-base no-underline hover:underline underline-offset-4"
            target="_blank">
            {{ partial:icons/arrow-right class="w-15" }}
            {{ file:extension | upper }}, {{ file:size_megabytes }} MB, {{ language | upper }}
          </a>
        </div>
      {{ /files }}
    {{ /if }}
    {{ if orderable }}
      
      {{# <a 
        href="mailto:info@baustoffkreislauf.ch?subject=Bestellung Publikation «{{ title }}»"
        class="!no-underline border-none bg-black font-bold tracking-widest uppercase text-white hover:text-lime py-15 px-10 xl:px-25 relative xl:top-10 leading-none inline-flex items-center transition-all">
        {{ 'Bestellen' | trans }}
      </a> #}}

      {{ if site:locale == 'de'}}
        <a 
          href="/dienstleistungen/publikationen/bestellung-arbeitshilfen-publikationen?id={{ id }}"
          class="!no-underline border-none bg-black font-bold tracking-widest uppercase text-white hover:text-lime py-15 px-10 xl:px-25 relative {{ if files }}xl:top-10{{ /if }} leading-none inline-flex items-center transition-all">
          {{ 'Bestellen' | trans }}
        </a>
      {{ /if }}
      {{ if site:locale == 'fr'}}
        <a 
          href="/fr/prestations/outils-de-travail-et-publications/commande-outils-de-travail-et-publications?id={{ id }}"
          class="!no-underline border-none bg-black font-bold tracking-widest uppercase text-white hover:text-lime py-15 px-10 xl:px-25 relative {{ if files }}xl:top-10{{ /if }} leading-none inline-flex items-center transition-all">
          {{ 'Bestellen' | trans }}
        </a>
      {{ /if }}
      {{ if site:locale == 'it'}}
        <a 
          href="/it/servizi/ausili-e-pubblicazioni/ordine-ausili-e-pubblicazioni?id={{ id }}"
          class="!no-underline border-none bg-black font-bold tracking-widest uppercase text-white hover:text-lime py-15 px-10 xl:px-25 relative {{ if files }}xl:top-10{{ /if }} leading-none inline-flex items-center transition-all">
          {{ 'Bestellen' | trans }}
        </a>
      {{ /if }}



    {{ /if }}
  </div>
</div>