{{ partial:layout/content }}
  {{ partial:publication/_search }}
{{ /partial:layout/content }}
{{ partial:layout/content-fullscreen badge="Downloads" badgeClass="!hidden lg:!flex" wide="true" }}
  <div 
    class="grid grid-cols-12 gap-x-15 gap-y-25 xl:gap-x-20 xl:gap-y-45 md:ml-30 xl:ml-0"
    x-data="{ active: null }">

    {{ if get:q }}
      {{ search:results index="publications" sort="date:{{ get:sort ? get:sort : 'asc' }}" }}
        {{ if no_results }}
          <div class="col-span-12 sm:col-span-6 lg:col-span-4 lg:col-start-2 md:-ml-16 px-15 lg:px-0 lg:py-30">
            <p>{{ "Keine Resultate gefunden für" | trans }} <strong>{{ get:q }}</strong>.</p>
          </div>
        {{ else }}
          {{ partial:publication/item }}
        {{ /if }}
      {{ /search:results }}
    {{ else }}
      {{ collection locale="de" from="publications" sort="date:{{ get:sort ? get:sort : 'desc' }}" taxonomy:category_publication="{{ get:category }}" }}
        {{ if no_results }}
          <div class="col-span-12 lg:col-span-6 lg:col-start-2 md:-ml-16 px-15 lg:px-0 lg:py-30">
            <p>{{ "Im Moment sind leider keine Publikationen vorhanden." | trans }}</p>
          </div>
        {{ else }}
          {{ partial:publication/item }}
        {{ /if }}

      {{ /collection }}
    {{ /if }}
  </div>
{{ /partial:layout/content-fullscreen }}