<div class="inline-flex w-auto items-end space-x-10 md:absolute md:top-16 md:right-16 {{ class }}">
  {{ if social_media_channels:facebook }}
    <a 
      href="{{ social_media_channels:facebook }}" 
      target="_blank" 
      title="Baustoff Kreislauf Schweiz auf Facebook">
      {{ partial:icons/facebook class="block w-auto h-20" }}
    </a>
  {{ /if }}
  {{ if social_media_channels:instagram }}
    <a 
      href="{{ social_media_channels:instagram }}" 
      target="_blank" 
      title="Baustoff Kreislauf Schweiz auf Instagram">
      {{ partial:icons/instagram class="block w-auto h-18" }}
    </a>
  {{ /if }}
  {{ if social_media_channels:linkedin }}
    <a 
      href="{{ social_media_channels:linkedin }}" 
      target="_blank" 
      title="Baustoff Kreislauf Schweiz auf LinkedIn">
      {{ partial:icons/linkedin class="block w-auto h-18" }}
    </a>
  {{ /if }}
  {{ if social_media_channels:youtube }}
    <a 
      href="{{ social_media_channels:youtube }}" 
      target="_blank" 
      title="Baustoff Kreislauf Schweiz auf Youtube">
      {{ partial:icons/youtube class="block w-auto h-16" }}
    </a>
  {{ /if }}
</div> 