@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typo/webfonts.css";
@import "components/headings.css";
@import "components/form.css";
@import "components/media.css";
@import "components/swiper.css";
@import "utils.css";

* {
  font-variant-ligatures: none;
}

html {
  font-feature-settings: 'kern'; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main section:not(:last-of-type) {
  @apply mb-30 xl:mb-60
}

main p:not(:last-child) {
  @apply mb-20 xl:mb-30
}

main p.lead {
  @apply font-acumin-bold font-bold text-lg md:text-xl xl:text-xl leading-[1.2]
}

main a {
  @apply underline underline-offset-2 decoration-1 hover:no-underline
}

main ul {
  @apply p-0 m-0 mb-15 xl:mb-20 ml-16 list-square
}

main ul li::marker {
  @apply text-xxs w-20 h-20 block
}

main ol {
  @apply p-0 m-0 mb-15 xl:mb-20 ml-16 list-decimal
}

main ol li {
  @apply mb-10
}

strong {
  @apply font-acumin-bold font-bold
}

.bg-pattern {
  @apply bg-[url('../img/pattern.svg')] bg-no-repeat bg-[length:70%_auto] sm:bg-[length:60%_auto] md:bg-[length:50%_auto] bg-[position:top_0_right_0] bg-opacity-10;
}

/* Special pages */
main.privacy h2 {
  @apply text-base md:text-md lg:text-md mb-5 lg:mb-10

}

.triangle-effect {
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}