input[type=text],
input[type=email],
input[type=tel],
textarea,
select {
  @apply w-full py-10 text-xs lg:text-base bg-transparent border-b border-lime !ring-0 focus:outline-none focus:!ring-0 focus:border-black focus:text-black placeholder:text-black
}

.has-error input[type=text],
.has-error input[type=email],
.has-error input[type=tel],
.has-error textarea,
.has-error select {
  @apply bg-red-600 text-white
}

label {
  @apply text-xs lg:text-sm
}

.has-error label {
  @apply text-raspberry
}

select {
  @apply bg-right-center bg-transparent appearance-none bg-dropdown bg-[length:16px_auto] lg:bg-[length:22px_auto] bg-no-repeat accent-transparent
}

textarea {
  @apply min-h-[80px] block border;
  field-sizing: content;
  resize: vertical;
} 

.checkboxes label {
  @apply cursor-pointer
}

.checkboxes label a:hover {
  @apply underline underline-offset-4 decoration-1
}

.checkboxes input[type=checkbox],
.checkboxes input[type=radio] {
  @apply appearance-none w-24 lg:w-28 h-24 lg:h-28 ring-0 focus:ring-0 !ring-offset-0 !outline-none border border-lime text-black bg-white !accent-lime
}

.checkboxes input[type=checkbox] {
  /* @apply rounded-md */
}

.checkboxes input[type=radio] {
  @apply rounded-full
}

.checkboxes.has-error input[type=checkbox] {
  @apply border-red-600
}

.checkboxes.has-error input[type=radio] {
  @apply border-red-600
}

.checkboxes input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='none' stroke='%2399D654' stroke-width='6' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='40 12 18 34 8 24'%3E%3C/polyline%3E%3C/svg%3E");
  @apply bg-center bg-no-repeat bg-[length:16px_auto] lg:bg-[length:18px_auto]
}

.checkboxes input[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' fill='%2399D654' stroke='%2399D654' stroke-width='6' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='24' cy='24' r='20'/%3E%3C/svg%3E");
  @apply bg-center bg-no-repeat bg-[length:14px_auto] lg:bg-[length:16px_auto]
} 
