<div class="bg-lime p-15 md:p-20 xl:p-40">
  <div class="font-acumin-medium font-medium ">
    {{ if hint_federation }}
    {{ if splash_content:text }}
      <div class="[&>p>a]:inline-block [&>p>a]:mb-5 [&>p]:!mb-0 [&>h2]:hyphens-auto [&>h2]:leading-[1.4] [&>h2]:mb-15 [&>h2]:lg:mb-20">
        {{ splash_content:text }}
      </div>
      {{ /if }}
    {{ else }}
      <div class="[&>p>a]:inline-block [&>p>a]:mb-5 [&>h2]:hyphens-auto [&>h2]:leading-[1.4] [&>h2]:mb-15 [&>h2]:lg:mb-20">
        {{ text }}
      </div>
    {{ /if }}
  </div>
</div>