<h1 class="font-medium text-md md:text-lg lg:text-xl leading-[1.2] xl:leading-[1.1] mb-20 md:mb-30 lg:mb-40">
  {{ "Suche" | trans }}
</h1>

<form action="/{{ "suche" | trans }}" class="mb-30 lg:mb-50 max-w-3xl">
  <div class="relative">
    <input 
      type="text" 
      name="q" 
      value="{{ get:q }}"
      placeholder="{{ "Suchbegriff" | trans }}..."
      class="!border !border-black !p-10">
    <button 
      class="absolute top-1 right-1 px-7 inline-block h-[calc(100%_-_2px)]" 
      type="submit">
      {{ partial:icons/magnifier class="w-20 h-auto" }}
    </button>
  </div>
</form>

{{ if get:q }}
  <div class="max-w-3xl">
    {{ keyword = get:q }}
    {{ search:results index="default" }}
      {{ if !no_results }}
        <div class="mb-10 md:mb-20 lg:mb-30">
          <a href="{{ url }}" class="block no-underline hover:text-turquoise transition-colors mb-5 group">
            <h2 class="mb-5 text-md lg:text-lg">{{ title }}</h2>
            <div class="text-xxs lg:!text-xs">{{ searchable_content | highlight:{keyword} }}</div>
          </a>
          <div class="text-xxs text-neutral-400">{{ "Gefunden in:" | trans }} "{{ title }}"</div>
        </div>
      {{ /if }}
    {{ /search:results }}

    {{ search:results index="publications" }}
      {{ if !no_results }}
        <div class="mb-10 md:mb-20 lg:mb-30">
          <a href="{{ "/fachbereiche/publikationen" | trans }}?q={{ get:q }}" class="block no-underline hover:text-turquoise transition-colors mb-5 group">
            <h2 class="text-lg lg:text-xl !mb-0">{{ title }}</h2>
          </a>
          <div class="text-xxs text-neutral-400">{{ "Gefunden in:" | trans }} "{{ "Arbeitshilfen & Publikationen" | trans }}"</div>
        </div>
      {{ /if }}
    {{ /search:results }}

    {{ search:results index="courses" }}
      {{ if !no_results }}
        <div class="mb-10 md:mb-20 lg:mb-30">
          <a href="{{ "/fachbereiche/aus-und-weiterbildung" | trans }}" class="block no-underline hover:text-turquoise transition-colors group">
            <h2 class="mb-5 text-md lg:text-lg">{{ title }}</h2>
            <div class="text-xxs lg:!text-xs">{{ course_date iso_format="Do MMMM YYYY" }}, {{ location }}</div>
          </a>
          <div class="text-xxs text-neutral-400">{{ "Gefunden in:" | trans }} "{{ "Berufe & Kurse" | trans }}"</div>
        </div>
      {{ /if }}
    {{ /search:results }}
  </div>
{{ /if }}