{{ partial:swiper/wrapper }}
  {{ images }}
    {{ partial:swiper/slide }}
      <figure>
        <picture>
          <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-fs-webp' }}" type="image/webp">
          <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-fs-webp' }}" type="image/webp">
          <source srcset="{{ glide:image preset='md-fs-webp' }}" type="image/webp">
          <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-fs' }}" type="image/jpeg">
          <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-fs' }}" type="image/jpeg">
          <img 
            src="{{ glide:image preset='md-fs' }}" 
            alt="{{ image:alt }}" 
            title="{{ image:alt }}" 
            height="{{ image:height }}" 
            width="{{ image:width }}"
            class="block {{ class ?? '' }}"
            loading="lazy">
        </picture>
        {{ if legend || copyright }}
          <figcaption class="flex justify-between">
             <span class="text-sm block pt-5 w-auto">
              {{ legend | nl2br }}
            </span>
            {{ if copyright }}
              <span class="text-xxs block pt-2 w-auto">
                {{ copyright}}
              </span>
            {{ /if }}
          </figcaption>
        {{ /if }}
      </figure>
    {{ /partial:swiper/slide }}
  {{ /images }}
{{ /partial:swiper/wrapper }}
