<figure>
  {{ if image }}
    <picture>
      <source media="(min-width: 768px)" srcset="{{ glide:image preset='md-rounded-webp' }}" type="image/webp">
      <source srcset="{{ glide:image preset='sm-rounded-webp' }}" type="image/webp">
      <source media="(min-width: 768px)" srcset="{{ glide:image preset='md-rounded' }}" type="image/jpeg">
      <img 
        src="{{ glide:image preset='sm-rounded' }}" 
        alt="{{ image:alt }}" 
        title="{{ image:alt }}" 
        height="{{ image:height }}" 
        width="{{ image:width }}"
        class="block w-full h-full aspect-square object-cover rounded-full {{ class ?? '' }}"
        loading="lazy">
    </picture>
  {{ else }}
    <span class="flex items-center justify-center aspect-square bg-gray-100 text-gray-300 rounded-full {{ class ?? '' }}">
      Bild folgt
    </span>
  {{ /if }}
</figure>