{{ if children }}
  <li class="border-b-black border-b lg:border-0 relative group {{ is_special ? 'bg-turquoise' : '' }} {{ is_special && (is_current || is_parent) ? '!bg-lime' : ''}}" x-data="{ submenu: false }">
    <span class="flex w-full pl-20 pr-15 lg:p-0 justify-between items-center">
      <a 
        href="{{ url }}" 
        class="w-full py-10 lg:p-0 text-md lg:text-base font-bold hover:text-lime lg:hover:text-black hover:no-underline group-hover:!no-underline lg:underline-offset-12 {{ is_current || is_parent || slug == category:slug ? 'text-lime lg:text-black lg:underline' : '' }} {{ is_special ? 'font-normal !text-black lg:text-black lg:!leading-none lg:!flex lg:!items-center lg:!pb-6 lg:!pt-3 lg:!px-6 lg:!no-underline leading-none' : ''}} {{ is_special && (is_current || is_parent) ? 'lg:!bg-lime' : ''}}"
        target="{{ is_external ? '_blank' : '_self' }}"
        title="{{ title }}">
        {{ title | replace(' ', '&nbsp;') }}
      </a>
      {{ if children }}
        <a href="javascript:;" title="{{ "Menü anzeigen" | trans }}" x-on:click="submenu = ! submenu">
          {{ partial:icons/chevron-down-menu class="w-20 h-auto lg:hidden" }}
        </a>
      {{ /if }}
    </span>
    {{ if children }}
      <div 
        class="lg:absolute {{ is_special ? 'lg:right-0 xl:right-auto xl:left-0' : 'lg:left-0' }} w-auto min-w-full lg:hidden group-hover:lg:!block lg:pt-6 lg:pb-5 xl:pb-10 lg:z-50"
        x-show="submenu">
        <ul class="{{ is_current || is_parent ? '' : '' }} bg-white">
          {{ children }}
            {{ partial:menu/main/item-child }}
          {{ /children }}
        </ul>
      </div>
    {{ /if }}
  </li>
{{ else }}
  <li class="border-b-black border-b lg:border-0 relative group">
    <a 
      href="{{ url }}" 
      class="block w-full pl-20 pr-15 py-10 lg:p-0 text-md lg:text-base font-bold hover:text-lime lg:hover:text-black lg:hover:underline lg:underline-offset-12 {{ is_current || is_parent || slug == category:slug ? 'text-lime lg:text-black lg:underline' : '' }} {{ is_special ? 'font-normal !text-black lg:!leading-none lg:!flex lg:!items-center lg:!py-6 lg:!px-6 lg:!no-underline leading-none' : ''}} {{ is_special && (is_current || is_parent) ? 'lg:!bg-lime' : ''}}"
      target="{{ is_external ? '_blank' : '_self' }}"
      title="{{ title }}">
      {{ title | replace(' ', '&nbsp;') }}
      {{ if children }}
        {{ partial:icons/chevron-down class="w-20 h-auto" }}
      {{ /if }}
    </a>
    {{ if children }}
      <div class="absolute left-0 hidden w-auto min-w-full max-w-xs bg-red-200 group-hover:lg:block lg:pt-5 lg:pb-5 xl:pb-10 z-50">
        <ul class="{{ is_current || is_parent ? '' : '' }} bg-white">
          {{ children }}
            {{ partial:menu/main/item-child }}
          {{ /children }}
        </ul>
      </div>
    {{ /if }}
  </li>
{{ /if }}