{{ if children }}
  <li class="border-b-black border-b md:border-0 relative group {{ special ? 'bg-turquoise' : '' }} {{ special && (is_current || is_parent) ? '!bg-lime' : ''}}" x-data="{ submenu: false }">
    <span class="flex w-full pl-20 pr-15 md:p-0 justify-between items-center">
      <a 
        href="{{ url }}" 
        class="w-full py-10 md:p-0 text-md md:text-base font-bold hover:text-lime md:hover:text-black hover:no-underline group-hover:!no-underline md:underline-offset-12 {{ is_current || is_parent || slug == category:slug ? 'text-lime md:text-black md:underline' : '' }} {{ special ? 'font-normal !text-black md:text-black md:!leading-none md:!flex md:!items-center md:!pb-6 md:!pt-3 md:!px-6 md:!no-underline leading-none' : ''}} {{ special && (is_current || is_parent) ? 'md:!bg-lime' : ''}}"
        target="{{ is_external ? '_blank' : '_self' }}"
        title="{{ title }}">
        {{ title | replace(' ', '&nbsp;') }}
      </a>
      {{ if children }}
        <a href="javascript:;" title="{{ "Menü anzeigen" | trans }}" x-on:click="submenu = ! submenu">
          {{ partial:icons/chevron-down-menu class="w-20 h-auto md:hidden" }}
        </a>
      {{ /if }}
    </span>
    {{ if children }}
      <div 
        class="md:absolute {{ special ? 'md:right-0' : 'md:left-0' }} w-auto min-w-full md:hidden group-hover:md:!block md:pt-6 md:pb-5 xl:pb-10 md:z-50"
        x-show="submenu">
        <ul class="{{ is_current || is_parent ? '' : '' }} bg-white">
          {{ children }}
            {{ partial:menu/main/item-child }}
          {{ /children }}
        </ul>
      </div>
    {{ /if }}
  </li>
{{ else }}
  <li class="border-b-black border-b md:border-0 relative group">
    <a 
      href="{{ url }}" 
      class="block w-full pl-20 pr-15 py-10 md:p-0 text-md md:text-base font-bold hover:text-lime md:hover:text-black md:hover:underline md:underline-offset-12 {{ is_current || is_parent || slug == category:slug ? 'text-lime md:text-black md:underline' : '' }} {{ special ? 'font-normal !text-black md:!leading-none md:!flex md:!items-center md:!py-6 md:!px-6 md:!no-underline leading-none' : ''}} {{ special && (is_current || is_parent) ? 'md:!bg-lime' : ''}}"
      target="{{ is_external ? '_blank' : '_self' }}"
      title="{{ title }}">
      {{ title | replace(' ', '&nbsp;') }}
      {{ if children }}
        {{ partial:icons/chevron-down class="w-20 h-auto" }}
      {{ /if }}
    </a>
    {{ if children }}
      <div class="absolute left-0 hidden w-auto min-w-full max-w-xs bg-red-200 group-hover:md:block md:pt-5 md:pb-5 xl:pb-10 z-50">
        <ul class="{{ is_current || is_parent ? '' : '' }} bg-white">
          {{ children }}
            {{ partial:menu/main/item-child }}
          {{ /children }}
        </ul>
      </div>
    {{ /if }}
  </li>
{{ /if }}